:root {

    --bege: #F0D78C;
    --branco: #FCFAFA;
    --azul-claro: #64C4ED;
    --azul-escuro: #4F81C7;

    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    font-family: bebas kai;
    color: white;
}

#conta  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 3px solid var(--bege);
    border-radius: 10px;
    padding: 30px;
    background-color: var(--azul-escuro);
}

#profile-img {
    align-self: flex-start;
}

#profile-img img {
    border-radius: 50%;
    width: 200px;
    margin-right: 50px;
}

#informacao input {
    border: 2px solid black;
    border-radius: 10px;
    width: 600px;
    height: 40px;
    padding-left: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    outline: none;
    border: none;
}

#informacao form{
    display: flex;
    flex-direction: column;
}

#informacao button {
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: block;
    text-align: center;
    background-color: var(--azul-claro);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 1rem;
}

#favorito {
    margin-top: 40px;
}

#favorito a {
    text-decoration: none;
}

#favorito button {
    background-color: var(--azul-claro);
    box-shadow: 1px 1px 10px rgb(50, 50, 50);
}

#favorito button:hover {
    box-shadow: none;
    background-color: #74D4ED;
}