.banner img {
    width: 100%;
}

/* títulos */

main h2 {
    margin-top: 30px;
    margin-left: 20px;
}

/* seções de produtos */

.mais-vendidos, .descontos-da-semana {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* produtos */

.produto {
    padding: 20px;
    width: 295px;
    font-family: Arial, Helvetica, sans-serif;

    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 300px 1rem .8rem .8rem 2rem 2rem;
    row-gap: 5px;
}

.produto img, .produto .nome{
    max-width: 300px;
    grid-column: 1 / 3;
}

.produto .nome {
    font-size: 18px;
    font-weight: bold;
}

.produto .estrelas {
    font-size: .8rem;
    color: var(--azul-claro);

    grid-column: 1 / 2;
}

.produto .estrelas span {
    color: #e6b803;
}

.produto .preco-antigo {
    grid-column: 1 / 2;
    font-size: .8rem;
    color: #aaaaaa;
}

.produto .preco-antigo span {
    text-decoration: line-through   ;
}

.produto button {
    background-color: #FAFAFA;
    border: none;
    padding: 0;
    text-align: end;

    grid-row: 3 / 5;
    grid-column: 2 / 3;
}

.produto .preco {
    font-size: 1.8rem;
    font-weight: bold;
    color: #4F81C7;
}

.descontos-da-semana {
    margin-bottom: 100px;
}