.banner img {
    width: 100%;
}

/* títulos */

main h2 {
    margin-top: 30px;
    margin-left: 20px;
}

/* seções de produtos */

.mais-vendidos, .descontos-da-semana {
    padding: 0 3px 0 3px;
    width: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.descontos-da-semana {
    margin-bottom: 100px;
}