.caixa input {
    box-sizing: border-box;
    outline: none;
    border: none;
    width: 450px;
    height: 2rem;
    margin-bottom: 20px;
    background: var(--branco);
    padding-left: 10px;
    font-size: 1.3rem;
    border-radius: 10px;
}

.caixa input:focus {
    border: 2px solid black;
}
 
.botao{ 
    background-color: var(--azul-claro);
    color: var(--branco);
    padding: 15px 30px; 
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bolder;
    
    border: none;
    border-radius: 10px; 
}

.botao:hover {
    background-color: #74D4ED;
}

.botao:active {
    background-color: #44A4CD;
}

.caixa {
    color: #fff;
    background-color:#4F81C7 ;
    border-width: thick;
    border-color: black;
    border-radius: 10px;
    width: fit-content;
    padding: 100px;
    margin: 100px auto;
    border: 3px solid var(--bege);

    display: flex;
    flex-direction: column;
}

label, h2, p {
    font-family: "bebas kai";
}

h2 {
    font-size: 1.8rem;
}