body {
    background-color: #FCFAFA;
}

.qrcode {
    width: 200px;
}

.pix {
    width: 25px;
}

h1 {
    padding: 10px;
}

form {
    padding: 15px;
}

input {
    border-color: #101010;
    
}

.fcompra {
    background-color: #4caf50;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.fcompra:hover {
    background-color: #59d05d;
}

#informacoes {
    background-color: var(--azul-escuro);
    border: 3px solid var(--bege);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
}

#informacoes input {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    height: 20px;
}

#informacoes h2 {
    margin-bottom: 10px;
}

#informacoes h3 {
    margin-bottom: 10px;
}

#botaozin {
    display: flex;
    justify-content: flex-end;
}