.resultados {
    box-sizing: border-box;
    padding: 10px;
    min-height: 500px;

    display: grid;
    justify-content: start;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    gap: 20px;
}

main h2 {
    margin-left: 15px;
}

.filtros {
    margin: 10px auto;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.filtros div {
    padding: 5px 20px;
}

.filtros label {
    display: block;
}

#preco {
    height: 15px;
    width: 400px;
    background-color: gainsboro;
    color: var(--azul-escuro);

    border-radius: 10px;
}

.filtros input[type="text"] {
    box-sizing: border-box;
    padding-left: 5px;
    width: 80%;
    height: 1.6rem;
    font-size: 1.1rem;
    border: 2px solid black;
    border-radius: 10px;
}