.resultados {
    box-sizing: border-box;
    padding: 10px;
    min-height: 500px;

    display: grid;
    justify-content: start;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    gap: 20px;
}