* {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

article {
    margin: 20px;
}

#barra-1 {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#meio {
    display: flex;
    justify-content: space-around;
}

#meio img {
    width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    float: left;
}

#meio #preco-antigo p {
    font-size: .8rem;
    text-decoration: line-through;
    color: #909090
}

#meio #preco { 
    display: flex;
    padding: 10px;
    width: 250px;
    height: 120px;
    color: var(--azul-escuro);
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 1px solid var(--bege);
    border-radius: 10px;
}

#meio #preco p {
    font-size: 2rem;
}

#compras {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#meio #addcarrinho button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background-color: var(--azul-claro);
    gap: 10px;
}

#meio #addcarrinho button img {
    width: 40px;
    height: 40px;
}

#meio #addcarrinho button:hover {
    background-color: #74D4ED;
}

#fim {
    clear: both;
    padding-top: 40px;
    padding-bottom: 50px;
    border-top: 5px solid var(--bege);
    border-bottom: 5px solid var(--bege);
}

#produtos {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#favorito img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

#favorito button {
    background-color: rgba(0,0,0,0);
    width: 35px;
    height: 35px;
}

#favorito button:hover {
    background-image: url(../img/coracao-cheio.png);
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: center;
}

@media (max-width: 950px) {
    #meio img {
        width: 100%;
    }

    #produtos {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}