* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "bebas kai";
    src: url("../fonts/bebaskai-webfont.woff2") format("woff2"),
        url("../fonts/bebaskai-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {

    --bege: #F0D78C;
    --branco: #FCFAFA;
    --azul-claro: #64C4ED;
    --azul-escuro: #4F81C7;

    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    padding: 15px;
    display: flex;
    font-family: "bebas kai";
    background-color: var(--azul-escuro);
    color: var(--branco);
}

img[src*="logo"] {
    height: 60px;
}

header a {
    text-decoration: none;
    color: inherit;
}

ul {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

li {
    list-style: none;
}

li:first-child {
    padding-right: 10px;
    border-right: 1px solid var(--branco);
}

li:last-child {
    margin-left: 10px;
}

nav {
    display: flex;
}

nav > button {
    cursor: pointer;
    border: 2px solid var(--bege);
    border-top-width: 0;
    text-align: center;
    width: 20%;
    height: 50px;
    background-color: var(--azul-claro);
    font-size: 1.3rem;
    font-family: "bebas kai", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--branco);
}

nav > button:hover {
    background-color: #44A4CD;
}

footer {
    height: fit-content;
    font-family: "bebas kai";
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 30px;
}

#logo {
    display: flex;
    align-items: center;
}

#logo > p {
    margin-left: 10px;
    font-size: 1.5rem;
}

#pesquisa {
    margin-left: 10%;
    margin-right: 65px;
    width: 70%;
    display: flex;
    align-items: center;
}

#pesquisa > input {
    padding-left: 10px;
    height: 2.3rem;
    width: 85%;
    border: 0;
    border-radius: 15px;
    font-size: 1.3rem;
    appearance: none;
}

#pesquisa > input:focus {
    outline: none;
    border: 2px solid #000;
    height: 2.6rem;
}

#pesquisa > button {
    cursor: pointer;
    margin: 10px;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    background-color: var(--bege);
}

#pesquisa > button > img {
    height: 2rem;
}

#carrinho {
    height: 40px;
}

header > a {
    align-self: center;
}

#atendimento {
    float: left;
    width: 80%;
}

#atendimento::first-line, #faq::first-line, #midias-sociais::first-line {
    font-size: 2.5rem;
    font-weight: bold;
}

#faq {
    margin-bottom: 80px;
}

#midias-sociais img {
    height: 35px;
}