* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "bebas kai";
    src: url("../fonts/bebaskai-webfont.woff2") format("woff2"),
        url("../fonts/bebaskai-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {

    --bege: #F0D78C;
    --branco: #FCFAFA;
    --azul-claro: #64C4ED;
    --azul-escuro: #4F81C7;

    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* style do header (#top e nav) */

header {
    font-family: "bebas kai", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* style da barra de cima do header */

#top {
    padding: 10px 20px 10px 10px;
    background-color: var(--azul-escuro);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top a {
    text-decoration: none;
    color: var(--branco);
}

#top ul {
    list-style: none;
}

/* style da logo */

.logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 5px;
}

.logo img {
    max-width: 60px;
}

/* style da barra de pesquisa e seu botão */

.pesquisa {
    margin-left: 7%;
    width: 60%;

    display: flex;
    align-items: center;
    gap: 10px;
}

.pesquisa input {
    padding-left: 10px;
    width: 80%;
    height: 2rem;
    font-size: 1.5rem;
    
    appearance: none; 
    border: none;
    border-radius: 10px;
}

.pesquisa input:focus {
    height: 2.2rem;
    outline: none;
    border: 2px solid black;
}

.pesquisa button {
    cursor: pointer;
    min-width: 2.4rem;
    background-color: var(--bege);

    border: none;
    border-radius: 1.2rem;
}

.pesquisa button img {
    max-height: 2.3rem;
}

/* style dos links de login e cadastro */

.conta {
    margin-right: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.conta hr {
    height: 2rem;
}

/* carrinho */
#top > a > img {
    max-height: 2.5rem;
}

/* style da navegação */

nav {
    height: 2.5rem;
    width: 100%;

    display: flex;
    justify-content: center;
}

nav a {
    flex-grow: 1;
}

/* botões da navegação */

nav button {
    cursor: pointer;
    min-width: 100px;
    width: 100%;
    height: 100%;
    background-color: var(--azul-claro);
    font-family: "bebas kai";
    font-size: 1.3rem;
    color: var(--branco);

    border: 2px solid var(--bege);
    border-width: 0 2px 3px 2px;
}

nav button:hover {
    background-color: #74D4ED;
}

nav button:active {
    background-color: #44A4CD;
}

/* style do footer */
footer {
    padding: 30px;

    font-family: "bebas kai", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    color: var(--branco);
    background-color: var(--azul-escuro);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.atendimento {
    grid-row: 1 / 3;
    grid-column: 1 / 2; 
}

.midias-sociais img {
    cursor: pointer;
    height: 30px;
}